/* GENERAL */
:root {
    --d: 500ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

h1 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
}

i {
    color: white;
    font-size: 40px;
    cursor: pointer;
}

/* INPUT FIELD */

.label-before, .field input:focus + label::before, .field input:valid + label::before {
    line-height: 20px;
    font-size: 12px;
    top: -20px;
    padding: 0 6px;
    left: -7px;
}

.field {
    display: flex;
    position: relative;
    /*height: 60px;*/
    /*margin-bottom: 15px;*/
    cursor: text;
}

.field label::before {
    cursor: text;
    content: attr(title);
    position: absolute;
    top: 7px;
    left: 15px;
    color: white;
    font-weight: bold;
    transition: 300ms all;
}

.field input {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 3px;
}

.field input:focus {
    outline: 0;
    border-style: none none solid;
}

.field input:valid + label::before {
    content: attr(data-title);
    font-weight: normal;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
    transition: opacity 100ms ease-in;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    top: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

.field input:focus + label::before {
    /*color: blue;*/
}

/* HEADER */

header {
    width: 100%;
    height: 300px;
    max-height: 300px;
    background: url(../images/bg-header.jpg) no-repeat 50% 50%;
    top: 0;
    position: fixed;
    z-index: -1;
    padding-top: 20px;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header .header-container .header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

#search {
    font-size: 20px;
    background: none;
    outline: none;
    height: 40px;
}

.header-container .header-text {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    /*align-items: center;*/
}

.header-container .header-text h1 {
    font-size: 80px;
}

#home {
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

#history {
    display: none;
    position: absolute;
    top: -200px;
    right: 300px;
    width: 250px;
    background: #ededed;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px 20px;
    box-shadow: 0 0 5px 5px rgba(200, 200, 200, 0.7);
    z-index: 100;
}

#history .history-title {
    font-size: 20px;
    color: black;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#history .history-item {
    font-size: 16px;
    color: black;
    margin-bottom: 0;
    cursor: pointer;
}

#history .history-item:not(:last-child) {
    border-bottom: 1px solid black;
    padding-bottom: 7px;
    margin-bottom: 20px;
}

/* CONTENT */

.content {
    /*height: 1000px;*/
    min-height: 1000px;
    background: #ededed;
    position: relative;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 50px;
}

.content .container h1 {
    margin-top: 30px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
}

.content .container .row .gif-holder {
    padding-left: 5px;
    padding-right: 5px;
}

.content .container .row .gif-holder .gif {
    border-radius: 10px;
    position: relative;
    width: 200px;
}

.content .container .row .gif-holder .gif .description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    transition: background-color 100ms ease-in 100ms;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.content .container .row .gif-holder:hover .gif .description {
    background-color: rgba(0, 0, 0, .5);
}

.content .container .row .gif-holder .gif .description .hovered {
    visibility: hidden;
    opacity: 0;
    transition: visibility 200ms, opacity 200ms linear;
}

.content .container .row .gif-holder:hover .gif .description .hovered {
    visibility: visible;
    opacity: 1;
}

.content .container .row .gif-holder .gif .description .title {
    max-width: 100%;
    font-size: 14px;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 0 10px;
}

.content .container .row .gif-holder .gif .description .icons-holder {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.content .container .row .gif-holder .gif .description .icons-holder i {
    font-size: 20px;
    margin-right: 10px;
}

#loadMore {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    align-self: flex-end;
}

/* FOOTER */

footer {
    width: 100%;
    height: 300px;
    background: black;
    bottom: -300px;
    position: fixed;
    z-index: -1;
    color: white;
}

footer .container {
    width: 100%;
    height: 100%;
    padding: 50px 0 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .container .footer-menu .footer-menu-item {
    color: white;
    font-size: 20px;
    margin: 10px 0;
    font-weight: bolder;
    cursor: pointer;
}

footer .container .footer-menu .title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

footer .container .footer-copyright {
    font-size: 14px;
    color: darkgray;
    width: 100%;
    text-align: center;
}

/* ANIMATIONS */

#scroll-animate {
    overflow: hidden;
}

#scroll-animate-main {
    width: 100%;
    left: 0;
    position: fixed;
}

#heightPage,
#heightScroll {
    width: 10px;
    top: 0;
    position: absolute;
    z-index: 99;
}

#heightPage {
    left: 0;
}

#heightScroll {
    right: 0;
}

.wrapper-parallax {
    margin-top: 300px;
    margin-bottom: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

header,
footer,
#scroll-animate-main {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

